.board__container{
  display: flex;
  padding: 0 25px;
}

.board{
  width: 50%;

  & + &{
    margin-left: 15px;
  }
}

.board__title{
  font-weight: normal;
  text-align: center;
}

.board__list-item{
  list-style-type: decimal;
  list-style-position: inside;
}