
:--button{
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 4px;
    border: none;
  @include button-color(var(--color-violet));

  & + &{
    margin-left: 15px;
  }
  
}

:--button:--enter{
             cursor: pointer;
}

.button{
  &_red{
    @include button-color(var(--color-red));
  }

  &_orange{
    @include button-color(var(--color-orange));
  }

  &_green{
    @include button-color(var(--color-green));
  }

}
