.form-area {
  padding: 25px 0;
  text-align: center;

  & > *{
    text-align: center;
    display: block;
    margin: auto;
  }

  * + *{
    margin-top: 15px;
  }
}

.form-area__label{
  font: 28px var(--font-total);
}


.form-area__input{
  text-align: left;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  max-height: 33px;
}


.form-area__voice-result{
  visibility: hidden;
  height: 0;

  &_visible{
    visibility: visible;
    height: auto;
  }
}

.form-area__controls{
  margin-top: 0;
  margin-left: 15px;

  .button{
    display: block;

    & + .button {
      margin-left: 0;

    }
  }
}


