:root {
    --color-white:      #FFFFFF;
    --color-black:      #282C34;
    --color-gray:       #CDD8E0;
    --color-orange:     #FAA124;
    --color-yellow:     #F7D72E;
    --color-red:        #CD3539;
    --color-violet:     #6F57A6;
    --color-green:      #669C3A;
    --color-blue:       #4AABED;

    --font-total:       'Luckiest Guy';
    --font-heading:     'Eater';
    --font-heading-2:   'Snowburst One';
}

